@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #051b29;
}

img {
    max-width: 100px;
    max-height: 150px;
    padding: 0px;
}

h1 {
    font-family: "Quantico", sans-serif;
    font-weight: 500;
    font-size: 32px;
    padding: 0px;
    color: #edf0f1;
    text-decoration: none;
}
li, a {
    font-family: "Geo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}
.nav__links {
    list-style: none;
}
.nav__links li{
    display: inline-block; /* side by side */
    padding: 0px 10px;

}

.nav__links li, a{
    transition: all 0.3s ease 0s;
}

.nav__links li, a:hover{
    color: #A678BF;
}


/*
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1; # Pushes footer to the bottom 
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.intro {
    text-align: center;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    
    nav ul li {
        margin: 5px 0;
    }
}

*/